*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 100px;
}
.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    padding: 0%;
    z-index: 999;
}
.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.logo{
    width: 60px;
}
.logo img{
    width: 100%;
}
.toggle{
    position: relative;
    width: 60px;
    height:  60px;
    background: url('箭头.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}
.text{
    position: relative;

}
.text h2{
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}
.text h3{
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    color: red;
}
.text a{
    display: inline-block;
    font-size: lem;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    transition: 0.2s;
}
.text a:hover{
    letter-spacing: 6px;
}
.social{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social li{
    list-style: none;
}
.social li a{
    display: inline-block;
    width: 40px;
    margin-right: 20px;
    transition: 0.5s;
}
.social li a:hover{
    transform: translateY(-15px);
}
.social li a img{
    width: 100%;
}
@media (max-width:991px) {
    .showcase,.showcase header{
        padding: 40px;
    }
}




    



 
 